JUNO_REST_PORT=6001
JUNO_WEB_PORT=6002
JUNO_MCP_PORT=6003
JUNO_REST_BASE_URL=http://juno:6001
JUNO_YEELIGHT_SSDP_ADDR=127.0.0.1:19820

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=juno
POSTGRES_PASSWORD=juno
POSTGRES_DB=juno