# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

coverage
logs
.test-pids

# Files generated dynamically
*.gen.go

# Build output
/juno

# Test binary, built with `go test -c`
*.test

# Output of `go env GOPATH`/bin (for tools installed via `go install`)
# Adjust as needed
/go/bin/

# Go workspace file
go.work
go.work.sum

# Dependency directories
vendor/

# Python
tests/.venv/
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/
.coverage
htmlcov/

# Environment variables
.env.local*
.env.prod

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db


# deployment
deployments