JUNO_REST_PORT=6001
JUNO_WEB_PORT=6002
JUNO_MCP_PORT=6003
JUNO_REST_BASE_URL=http://juno-conductor:6001
JUNO_YEELIGHT_SSDP_ADDR=239.255.255.250:1982

JUNO_LAN_AGENT_PORT=7000
JUNO_LAN_AGENT_ADDR=0.0.0.0
JUNO_LAN_AGENT_URL=http://127.0.0.1:7000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=juno
POSTGRES_PASSWORD=juno
POSTGRES_DB=juno
