POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_USER=juno
POSTGRES_PASSWORD=juno
POSTGRES_DB=juno

JUNO_CONDUCTOR_IMAGE=juno-conductor:latest
JUNO_LAN_AGENT_IMAGE=juno-lan-agent:latest

JUNO_LOG_LEVEL=debug

JUNO_EDGE_ADDR=127.0.0.1
JUNO_CORE_ADDR=127.0.0.1

JUNO_REST_PORT=6001
JUNO_WEB_PORT=6002
JUNO_MCP_PORT=6003
JUNO_METRICS_PORT=6004
JUNO_LAN_AGENT_PORT=7000
JUNO_NGINX_PORT=80

JUNO_YEELIGHT_SSDP_ADDR=239.255.255.250
JUNO_YEELIGHT_SSDP_PORT=1982
